*
{
    margin: 0;
    font-family: sans-serif;
}
header
{
    margin-top: 30px;
}
.hbox3
{
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 20px;
    color: rgb(92, 91, 91);
}
.hbox4
{
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 20px;
}
.backgroundp
{
    width: 200px;
    padding: 15px;
    height: 25px;
    background-color: #3B9254;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.headbox
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.section1
{
    width: 80%;
    height: 640px;
    background-image: url(./images/main-pic-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
    color: white;
    position: relative;
    margin-top: 20px;
}
.bigp
{
    font-size: 55px;
    font-weight: 800;
    text-align: center;
}
.p1
{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}
.backgrounddiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 280px;
    padding: 15px;
    height: 25px;
    background-color: #3B9254;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
}
.s1box-1
{
    padding-top: 250px;
}
.img1
{
    position: relative;
    left: 20px;
    top: -180px;
}
.img2
{
    position: relative;
    left: 1080px;
    top: -180px;
}
.section2
{
    width: 80%;
    height: 200px;
    background-color: #3B9254;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    color: white;
}
.inputdiv
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    padding: 15px;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}
.input
{
    border: none;
}
.s2box-2
{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.button
{
    width: 200px;
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
}
.p2
{
    font-size: 22px;
    font-weight: 600;
    padding-top: 30px;
    margin-left: 104px;
    margin-bottom: 30px;
}
.flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    margin-top: 100px;
}
.bigp2
{
    font-size: 40px;
    font-weight: 600;

}
.grid
{
    display: flex;
    gap: 20px;
}
.iteam5
{
    margin-top: -255px;
}
.iteam6
{
    margin-top: -255px;
    margin-left: 800px;
}
.iteam7
{
    margin-top: -255px;
    margin-left: 1000px;
}
.s3box-1
{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
}



